@font-face {
  font-family: "General Sans";
  src: url(GeneralSans-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}
#main {
  width: 100%;
}
#hero {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
}
#nav {
  width: 100%;
  padding: 20px 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
#nav #menu {
  cursor: pointer;
}
.nav-part2 {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
  padding: 0 40px;
  position: absolute;
  top: 20px;
  right: 40px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.nav-part2.hidden {
  opacity: 0;
  transform: translateY(-20px);
}

.nav-part2.visible {
  opacity: 1;
  transform: translateY(0);
}
.nav-part2 a {
  color: #fff;
  text-decoration: none;
}
#heading {
  margin-top: 80px;
}
#heading h1 {
  font-size: 9vw;
  text-transform: uppercase;
  color: #a3a3a3;
  letter-spacing: 7px;
  line-height: 1;
  margin-left: 20px;
}
.block-text #designer-h1 {
  margin-left: 160px;
}
.block-text {
  width: fit-content;
}
.block-text h5 {
  text-align: right;
  text-transform: uppercase;
  font-size: 18px;
}
#side-details {
  margin-top: 150px;
  padding-right: 30px;
}
#side-details h5 {
  text-align: right;
  text-transform: uppercase;
  margin-top: 0.5vw;
  font-size: 1.3vw;
}
#hero-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  width: 100%;
  position: absolute;
  bottom: 2%;
}
#hero-footer a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
#icons {
  display: flex;
  gap: 7px;
}
#icons .circles {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 900;
}
#second {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  padding-top: 150px;
  padding-left: 3vw;
  padding-right: 10vw;
  color: #a3a3a3;
}
.elem {
  width: 100%;
  border-top: 1px solid #aaaaaa;
  padding: 4vh 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.elem h1 {
  text-transform: uppercase;
  font-size: 7.5vw;
}
.elem h5 {
  color: #fff;
  font-weight: 100;
  font-size: 1.2vw;
}
.last {
  border-bottom: 1px solid #aaaaaa;
}
.elem img {
  position: absolute;
  z-index: 10;
  height: 140%;
  display: none;
}
#about {
  width: 100%;
  background-color: #000;
  padding: 10vw;
  padding-left: 35vw;
  display: flex;
  align-items: center;
  gap: 60px;
}
#about img {
  width: 250px;
}
#about-text {
  width: 25rem;
}
#about-text h5 {
  color: #a3a3a3;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#about-text p {
  color: #fff;
  text-align: justify;
  font-size: 1.3vw;
  line-height: 1.5;
  margin-bottom: 25px;
}
#about-text a {
  text-decoration: none;
  padding: 10px 22px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  /* font-size: 12px; */
}
