@font-face {
  font-family: "General Sans";
  src: url(GeneralSans-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}
#main {
  width: 100%;
}
#hero {
  width: 100%;
  height: 100vh;
  background-color: #000;
}
